.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 176px;
  margin-bottom: 100px;
  height: 100%;
}

.auth {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 20rem;
  border-radius: 10px;
  background-color: rgb(251, 240, 225);
  padding-bottom: 1rem;
}

.header {
  background-color: #12aac5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 1rem;
}

.auth h1 {
  text-align: center;
  color: #fff;
  font-size: 1rem;
}

.control {
  margin-bottom: 0.7rem;
}


.control label {
  display: block;
  color: black;
  margin-bottom: 0.1rem;
  font-size: 0.6rem;
  font-weight: 400;
  width: 90%;
  margin-left: 1rem;
}

.control input {
  background-color: white;
  color: black;
  border-radius: 5px;
  border: 1px solid white;
  width: 90%;
  text-align: left;
  padding: 0.25rem;
  margin-left: 1rem;
}

.control input:focus {
  outline: none;
  border: 1px solid #12aac5;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actionsTwoButton {
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.actions button {
  font-size: 0.9rem;
  cursor: pointer;
  color: white;
  background-color: #12aac5;
  border: 1px solid #2fbed7;
  border-radius: 5px;
  padding: 0.5rem 2.5rem;
  transition: background-color 0.2s ease-in-out;
}

.actions button:hover {
  background-color: #2fbed7;
  border-color: 1px solid white;
}

.actions .toggle {
  font-size: 0.7rem;
  margin-top: 1rem;
  background-color: transparent;
  color: #12aac5;
  border: none;
  padding: 0.15rem 1.5rem;
  transition: color 0.2s ease-in-out;
}

.actions .toggle:hover {
  background-color: transparent;
  color: #2fbed7;
  font-size: 0.7rem;
}

.warning {
  margin-left: 0.2rem;
  color: red;
}

.auth p {
  margin-top: 20px;
  font-size: 0.8rem;
  text-align: center;
}

.auth a {
  cursor: pointer;
  margin-top: 20px;
  font-size: 0.7rem;
  text-align: center;
  color: #12aac5;
  transition: color 0.2s ease-in-out;
}

.auth a:hover {
  color: #2fbed7;
}

.billingContainer {
  flex-direction: column;
  margin-top: 116px !important;
}

.paymentContainer {
  margin-left: 50px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 3px;
}

.paymentContainer label {
  font-size: 0.8rem;
}

.paymentContainer input:checked {
  color: #12aac5;
}

.card {
  margin-left: 20px;
  margin-right: 20px;
}

.card h4 {
  color: #12aac5;
  font-size: 0.85rem;
}

.cardInfo {
  font-size: 0.8rem;
}

.seperator {
  height: 2px;
  background-color: #12aac5;
  width: 100%;
  margin-top: 20px;
}

.card ul > li {
  list-style: none;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.card ul {
  padding-left: 0;
}

.orderCell {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

.pbutton {
  font-size: 0.9rem;
  cursor: pointer;
  color: white;
  background-color: #12aac5;
  border: 1px solid #2fbed7;
  border-radius: 5px;
  padding: 0.5rem 2.5rem;
  transition: background-color 0.2s ease-in-out;
}

.pbutton:hover {
  background-color: #2fbed7;
  border-color: 1px solid white;
}

.buttonContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.cartEmpty {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartText {
  font-size: 0.8rem;
}

.paymentText {
  display: flex;
  justify-content: space-between;
}