.button {
  padding: 15px 40px;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #12aac5;
  color: #fff;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: #2fbed7;
}