@keyframes growDown {
  0% {
      transform: scaleY(0)
  }
  80% {
      transform: scaleY(1.1)
  }
  100% {
      transform: scaleY(1)
  }
}

.dropdown {
  position: absolute !important;
  background-color: #fff;
  z-index: 1;
  top: 66px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 20px 40px;
  gap: 100px;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center
}

.header {
  font-size: 0.8rem;
  color: black !important;
  transition: color 0.2s ease-in-out;
}

.header:hover {
  color: #12aac5 !important;
}

.seperator {
  border: 1px solid #e6e6e6;
}

.list {
  display: inline;
}

.item {
  padding-top: 8px;
  list-style: none;
  color:black !important;
  transition: color 0.2s ease-in-out;
}

.item:hover {
 color: #12aac5 !important;
}

@media screen and (max-width: 800px) {
  
}