.dropdown {
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
  gap: 100px;
}

.header {
  font-size: 0.8rem;
  color: black !important;
  transition: color 0.2s ease-in-out;
}

.header:hover {
  color: #12aac5 !important;
}

.seperator {
  border: 1px solid #e6e6e6;
}

.list {
  display: inline;
}

.item {
  padding-top: 8px;
  list-style: none;
  color:black !important;
  transition: color 0.2s ease-in-out;
}

.item:hover {
 color: #12aac5 !important;
}

@media screen and (max-width < 1100px) {
  .dropdown {
    display: none;
  };
}