.container {
  position: absolute;
  top: 78px;
  z-index: 1;
  width: 100%;
  height: 500px;
  background-color: #12aac5;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  font-size: 1.2rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.item {
  color: white !important;
  transition: color 0.2s ease-in-out !important;
  cursor: pointer;
}

.item:hover {
  color: black !important;
}

.lang {
  display: flex;
  gap: 10px;
}

.log {
  display: flex;
  align-items: center;
  gap: 10px;
}


@media screen and (width > 1100px) {
  .container {
    display: none;
  }
}