.nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  border-bottom: 2px solid #e6e6e6;
  width: 100%;
  background-color: #fff;
  top: 0;
}

.container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 20vw;
}

.logo {
  display: flex;
  align-items: center;
}

.list > a{
  margin: 0 25px 0 25px;
  padding-bottom: 40px;
  line-break: normal;
  transition: color 0.2s ease-in-out;

}

.list > a:hover {
  color: #12aac5;
}

.dropdown {
  font-size: 0.7rem;
  vertical-align: middle;
}

.langbox {
  position: fixed;
  right: 20px;
  top: 28px;
}

.langbox button {
  cursor: pointer;
  border: none;
  color: #12aac5;
  font-size: 0.7rem;
  background-color: transparent;
  transition: color 0.2s ease-in-out;
}

.langbox button:hover {
  color: #2fbed7;
}